# Data Science Tools and Ecosystem

## Author
Alexandr Nikitin

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* to list examples of popular Data Science languages
* to list examples of popular Data Science Python libraries
* to list examples of popular Data Science tools
* to perform basic arithmetic operations in Jupyter notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. scikit-learn
5. PyTorch
6. TensorFlow
7. Matplotlib
8. Seaborn

| Data Science Tools |
| -------- |
| Kubernetes |
| MySQL |
| Apache Airflow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5.

17.0

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335